<!-- portfolio/blog.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %}
  <h1>Blog</h1
    <p>Posts go here</p>
  </div>
  {% if user.is_authenticated %}
    <a href="{% url 'blog_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
  {% endif %}
  
  {% for post in posts %}
    <div class="post">
      <p class="date">published: {{ post.published_date }}</p>
      <h1><a href="{% url 'blog_detail' pk=post.pk %}">{{ post.title }}</a></h1>
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
  {% endfor %}

  <ul class="pagination">
    {% if posts.has_previous %}
      <li><a href="?page=1">&laquo;</a></li>
      <li><a href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a></li>
    {% endif %}
    <li class="active"><a href="?page={{ posts.number }}">{{ posts.number }}</a></li>
    {% if posts.has_next %}
      <li><a href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a></li>
      <li><a href="?page={{ posts.paginator.num_pages }}">&raquo;</a></li>
    {% endif %}
  </ul>
{% endblock %}
