{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="bg-white text-gray-800">
    <div class="container mx-auto px-4">
        <main>
            <!-- Enhanced section with more dynamics and style -->
            <section class="flex items-center py-8">
                <div class="w-1/2">
                    <h1 class="text-5xl font-bold" 
                    style="font-family: 'Montserrat', sans-serif;">Designer</h1>
                    <p class="text-gray-700 mt-4">
                        A versatile Full-Stack Developer proficient in Python &
                        JavaScript, specializing in crafting complete web
                        solutions from front-end to back-end.
                    </p>
                </div>
                <div class="w-1/2 flex justify-center">
                    <img src="{% static 'images/ai_elephant.jpg' %}" 
                    alt="Intro image for landing page" class="w-1/2 rounded-lg">
                </div>
                <div class="w-1/2">
                    <h1 class="text-5xl font-bold text-right" 
                    style="font-family: 'Montserrat', sans-serif;">Coder</h1>
                    <p class="text-gray-700 mt-4 text-right">
                        Passionate about designing user interfaces that are both
                        beautiful and intuitive, while ensuring seamless user
                        experiences with efficient and scalable Python back-ends.
                    </p>
                </div>
            </section>
            <!-- Central section with personal branding -->
            <section class="text-center py-8">
                <h2 class="text-4xl font-bold" style="font-family: 'Montserrat',
                sans-serif;">Keenan du Plessis</h2>
                <p class="text-gray-700 mt-2">Full-Stack Python / JS Developer —
                    keenanduplessis.com</p>
            </section>
        </main>
    </div>
</body>
{% endblock %}
